body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-glory: Glory;
  --font-inika: Inika;
  --font-hammersmith-one: "Hammersmith One";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-17xl: 36px;
  --font-size-45xl: 64px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #101231;
  --color-snow: #fff8f8;
  --color-purple: #7a108b;

  /* border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
}
